<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChemTos</title>
  <meta name="description" content="ChemTos">
  <meta name="keywords" content="ChemTos">
  <meta name="author" content="ChemTos">
  <meta property="og:locale" content="ko_KR" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="ChemTos" />
  <meta property="og:description" content="ChemTos" />
  <meta property="og:site_name" content="ChemTos" />
  <link rel="stylesheet" th:href="@{/css/ai/common.css}">

  <script th:src="@{/js/ai/scripts.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <script th:src="@{/script/chatInit.js}"></script>
  <script th:src="@{/script/chat.js}"></script>
  <script th:src="@{/script/auth.js}"></script>
  <script th:inline="javascript">
		const INVENTORY_ICON_URL = [[@{/images/icon/ico-Inventory.svg}]];
  </script>
</head>

<body>
  <div class="app">
    <!-- PC 사이드바 -->
    <aside class="app-sidebar">
      <a style="cursor: pointer;" class="sidebar-logo" id="logo">ChemTos</a>0
      <a class="sidebar-icon" data-tooltip="Prompt" id="promptIcon">
        <img th:src="@{/images/icon/ico-section.svg}" />
      </a>
      <button type="button" class="sidebar-icon js-helpdesk-trigger" data-tooltip="Help Desk">
        <img th:src="@{/images/icon/ico-helpdesk.svg}" />
      </button>
      <a class="sidebar-icon" data-tooltip="Quick Actions" id="quickAction">
        <img th:src="@{/images/icon/ico-faq.svg}" />
      </a>
      <div class="user">
        <button type="button" class="sidebar-icon user-toggle" aria-haspopup="true" aria-expanded="false">
          <img th:src="@{/images/icon/ico-user.svg}" alt="사용자 메뉴" />
        </button>
      </div>

      <div id="sidebar-tooltip" class="tooltip-box"></div>

      <div id="user-menu" class="user-menu">
        <button type="button" class="user-menu-item">설정</button>
        <button type="button" class="user-menu-item" id="btnLogin" th:if="${email == null or email == ''}">로그인</button>
        <button type="button" class="user-menu-item" id="btnLogout" th:if="${email != null and email != ''}">로그아웃</button>
      </div>
    </aside>

    <!-- Help Desk 사이드 패널 -->
    <aside id="helpdesk-panel" class="helpdesk-panel">
      <div class="panel-header">
        <h2>Help Desk</h2>
        <button id="panel-close" class="close-btn"></button>
      </div>

      <div class="faq-section">
        <div class="section-title"><img th:src="@{/images/icon/ico-Inventory.svg}">Inventory 질문 길잡이</div>
        <div class="faq-select">
          <select id="select-item" class="faq-selectbox">
            <option value="">품목구분 선택하세요</option>
            <option value="화학물질">화학물질</option>
            <option value="원료">원료</option>
            <option value="부자재">부자재</option>
          </select>
        </div>
        <div class="faq-select">
          <select id="select-material" class="faq-selectbox">
            <option value="">자재 선택하세요</option>
            <option value="용제">용제</option>
            <option value="촉매">촉매</option>
            <option value="첨가제">첨가제</option>
          </select>
        </div>
        <div class="faq-select">
          <select id="select-vendor" class="faq-selectbox">
            <option value="">벤더명 선택하세요</option>
            <option value="LG화학">LG화학</option>
            <option value="롯데정밀화학">롯데정밀화학</option>
            <option value="한화솔루션">한화솔루션</option>
          </select>
        </div>
      </div>

      <div class="faq-section">
        <div class="section-title"><img th:src="@{/images/icon/ico-MSDS.svg}">MSDS 질문 길잡이</div>
        <div class="faq-select">
          <select id="select-item" class="faq-selectbox">
            <option value="">제품명을 선택하세요</option>
            <option value="화학물질">화학물질</option>
            <option value="원료">원료</option>
            <option value="부자재">부자재</option>
          </select>
        </div>
        <div class="faq-select">
          <select id="select-item" class="faq-selectbox">
            <option value="">자재를 선택하세요</option>
            <option value="화학물질">화학물질</option>
            <option value="원료">원료</option>
            <option value="부자재">부자재</option>
          </select>
        </div>
        <div class="faq-select">
          <select id="select-item" class="faq-selectbox">
            <option value="">벤더명을 선택하세요</option>
            <option value="화학물질">화학물질</option>
            <option value="원료">원료</option>
            <option value="부자재">부자재</option>
          </select>
        </div>
      </div>
    </aside>

    <!-- 모바일 헤더 -->
    <div class="app-header-mobile">
      <button class="app-header-mobile-menu" type="button"></button>
      <a class="app-header-mobile-logo" id="mLogo">
        <div class="sidebar-logo">ChemTos</div>
      </a>
    </div>
    <!-- 모바일 전체 메뉴 -->
    <div id="mobile-menu" class="mobile-menu">
      <div class="mobile-menu-inner">
        <button class="mobile-menu-close" type="button">×</button>
        <a class="mobile-menu-item" id="mPrompt">Prompt</a>
        <a class="mobile-menu-item js-helpdesk-trigger" data-tooltip="Help Desk">Help Desk</a>
        <a class="mobile-menu-item" id="mQuickAction">Quick Actions</a>
        <div class="mobile-divider"></div>
        <a href="#" class="mobile-menu-item">설정</a>
        <a href="#" class="mobile-menu-item"  id="mLogin" th:if="${email == null or email == ''}" >로그인</a>
        <a href="#" class="mobile-menu-item"  id="mLogout" th:if="${email != null and email != ''}">로그아웃</a>
      </div>
    </div>

    <!-- 메인 -->
    <main class="app-main index-main">
      <div class="app-main-inner">
        <!-- visual -->
        <section class="video-bg">
          <video autoplay muted loop playsinline webkit-playsinline class="video-bg-video">
            <source th:src="@{/images/video-bg.mp4}" type="video/mp4" />
          </video>
          <div class="video-bg-content">
            <h1 class="logo"></h1>
            <p>화학물질 전문가 AI</p>
          </div>
        </section>
        <!-- quickactions -->
        <section class="quickactions-area">
     <!--     <a class="box">
            <span class="box-text">PSM 보고서는 어떻게 작성해야 할까요? 작성 절차와 체크리스트를 알고 싶습니다.</span>
          </a>
          <a href="" class="box">
            <span class="box-text">인벤토리 관리 시 MSDS 데이터는 어떤 항목을 중심으로 업데이트해야 하는지 궁금합니다.</span>
          </a>
          <a href="" class="box">
            <span class="box-text">CAS 50-00-0의 끓는점이 문헌마다 다른 이유와 차이를 비교할 수 있는 차트를 받고 싶습니다.</span>mn
          </a>
          <a href="" class="box">
            <span class="box-text">PSM 보고서를 효율적으로 작성하기 위한 기본 구조와 필수 포함 항목을 알려주세요.</span>
          </a>-->
        </section>
        <!-- Prompt -->
        <section class="inner">
          <div class="prompt-box">
            <textarea class="prompt-textarea" placeholder="궁금한 내용을 질문해보세요." id="newPrompt"></textarea>
            <div class="btn-area">
              <div class="input-group">
              <input type="file" id="fileUpload" class="hidden-file" />
              <label for="fileUpload" class="btn-add" id="btnAdd" data-tooltip="파일 첨부">추가</label>
              <span id="fileName" class="file-name">선택된 파일 없음</span>
              </div>
              <button class="btn-send" type="button" data-tooltip="메시지 전송" id="btnNewSend"></button>
            </div>
          </div>
        </section>
        <!-- FAQ 카드 -->
        <section class="faq-box on">
          <div class="faq-header">
            <h2 class="faq-title">자주하는 질문</h2>
            <div class="faq-toggle">
              <div class="toggle-pill">
                <div class="toggle-knob"></div>
              </div>
            </div>
          </div>
          <div class="faq-grid" id="main-quick-area">
           <!-- <a href="" class="faq-card">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">PSM 보고서는 어떻게 작성해야 하나요?</h3>
              <p>필수 포함 항목과 양식, 자주 발생하는 오류 사례를 함께 알려드립니다.</p>
            </a>
            <a href="" class="faq-card">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">MSDS 데이터를 인벤토리와 연동할 수 있나요?</h3>
              <p>엑셀 업로드, API 연동 방식 등 여러 연계 시나리오를 안내합니다.</p>
            </a>
            <a href="" class="faq-card">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">산화제·가연물 분리 보관 기준</h3>
              <p>법적 기준과 실제 보관 시 주의해야 할 사항을 정리해 드립니다.</p>
            </a>
            <a href="" class="faq-card">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">CAS 번호 자동 검색 기능</h3>
              <p>물질명으로 검색하는 알고리즘과 데이터베이스 구축 방법을 설명합니다.</p>
            </a>-->
          </div>
        </section>
      </div>
    </main>
    <main class="prompt-main" style="display:none">
      <div class="app-main-inner">

        <!-- 질문과 답-->
        <section class="chat-wrap" style="max-height: 80%; overflow-y:auto;"> <!--수정 필요 TODO-->
          <!-- 내 메시지 -->
<!--          <div class="chat-row me">-->
<!--            <div class="chat-bubble">-->
<!--              CAS NO 50-00-0의 인벤토리에 등록되어 있어?-->
<!--            </div>-->
<!--          </div>-->
          <!-- GPT 메시지 -->
<!--          <div class="chat-row bot-load">
            <div class="chat-logo-wrap">
              <div class="chat-logo"></div>
              <div class="chat-logo-ring"></div>
            </div>
            <div class="answer-flex">
              <div class="chat-bubble answer is-loading">
                <p class="loading-text">화학물질 데이터를 분석하고 있어요...</p>
                <div class="loading-dots">
                  <span></span><span></span><span></span>
                </div>
              </div>
            </div>
          </div>-->

        </section>

        <!--  WorkFlow 카드 -->
        <div class="offcanvas offcanvas-end workflow-card" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <div class="workflow-title">
              <span class="workflow-ico"></span>
              <span>WorkFlow</span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body workflow-body" id="workflow">
<!--            <div class="title">img src="../static/images/icon/ico-Inventory.svg">업무메뉴</div>
            <div class="menu">Inventory</div>
            <a href="#" class="workflow-item">Inventory 조회</a>
            <a href="#" class="workflow-item">Inventory 생성</a>
            <div class="menu">MSDS</div>
            <a href="#" class="workflow-item">MSDS 조회</a>
            <a href="#" class="workflow-item">MSDS 자동생성</a>

            <div class="title mt20"><img src="../static/images/icon/ico-Inventory.svg">Link</div>
            <div class="menu">화평법 고시 정보</div>
            <a href="#" class="workflow-item">고시 정보</a>
            <div class="menu">K-reach > 화학물질신고</div>
            <a href="#" class="workflow-item">화학물질신고</a>
            <div class="menu"><span class="badge">K-reach의 화학물질 수입제도</span>이해 흐름도 바로가기</div>
            <a href="#" class="workflow-item">고시 정보</a>-->
          </div>
        </div>

        <!-- Prompt -->
        <div class="prompt-box-type">
          <textarea class="prompt-textarea-type" placeholder="궁금한 내용을 질문해보세요." id="prompt"></textarea>
          <div class="btn-area">
            <div class="input-group">
            <input type="file" id="promptfileUpload" class="hidden-file" />
            <label for="promptfileUpload" class="btn-add" data-tooltip="파일 첨부" id="btnAdd">추가</label>
            <span id="promptFileName" class="file-name">선택된 파일 없음</span>
            </div>
            <button class="btn-send" type="button" data-tooltip="메시지 전송" id="btnSend"></button>
          </div>
        </div>
      </div>
    </main>
    <main class="app-main quickactions-main" style="display: none">
      <div class="app-main-inner">
        <!-- FAQ 카드 -->
        <section class="faq-box padding">
          <div class="faq-header">
            <h2 class="faq-title-type">자주하는 질문</h2>
          </div>
          <div class="faq-grid" id="quickArea">
<!--            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">PSM 보고서는 어떻게 작성해야 하나요?</h3>
              <p>필수 포함 항목과 양식, 자주 발생하는 오류 사례를 함께 알려드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">MSDS 데이터를 인벤토리와 연동할 수 있나요?</h3>
              <p>엑셀 업로드, API 연동 방식 등 여러 연계 시나리오를 안내합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">산화제·가연물 분리 보관 기준</h3>
              <p>법적 기준과 실제 보관 시 주의해야 할 사항을 정리해 드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">CAS 번호 자동 검색 기능</h3>
              <p>물질명으로 검색하는 알고리즘과 데이터베이스 구축 방법을 설명합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">PSM 보고서는 어떻게 작성해야 하나요?</h3>
              <p>필수 포함 항목과 양식, 자주 발생하는 오류 사례를 함께 알려드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">MSDS 데이터를 인벤토리와 연동할 수 있나요?</h3>
              <p>엑셀 업로드, API 연동 방식 등 여러 연계 시나리오를 안내합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">산화제·가연물 분리 보관 기준</h3>
              <p>법적 기준과 실제 보관 시 주의해야 할 사항을 정리해 드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">CAS 번호 자동 검색 기능</h3>
              <p>물질명으로 검색하는 알고리즘과 데이터베이스 구축 방법을 설명합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">PSM 보고서는 어떻게 작성해야 하나요?</h3>
              <p>필수 포함 항목과 양식, 자주 발생하는 오류 사례를 함께 알려드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">MSDS 데이터를 인벤토리와 연동할 수 있나요?</h3>
              <p>엑셀 업로드, API 연동 방식 등 여러 연계 시나리오를 안내합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">산화제·가연물 분리 보관 기준</h3>
              <p>법적 기준과 실제 보관 시 주의해야 할 사항을 정리해 드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">CAS 번호 자동 검색 기능</h3>
              <p>물질명으로 검색하는 알고리즘과 데이터베이스 구축 방법을 설명합니다.</p>
            </a>-->
          </div>
          <div class="faq-header">
            <h2 class="faq-title-type">History</h2>
          </div>
          <div class="faq-grid" id="quickHistoryArea">
           <!-- <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">PSM 보고서는 어떻게 작성해야 하나요?</h3>
              <p>필수 포함 항목과 양식, 자주 발생하는 오류 사례를 함께 알려드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">MSDS 데이터를 인벤토리와 연동할 수 있나요?</h3>
              <p>엑셀 업로드, API 연동 방식 등 여러 연계 시나리오를 안내합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">산화제·가연물 분리 보관 기준</h3>
              <p>법적 기준과 실제 보관 시 주의해야 할 사항을 정리해 드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">CAS 번호 자동 검색 기능</h3>
              <p>물질명으로 검색하는 알고리즘과 데이터베이스 구축 방법을 설명합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">PSM 보고서는 어떻게 작성해야 하나요?</h3>
              <p>필수 포함 항목과 양식, 자주 발생하는 오류 사례를 함께 알려드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">MSDS 데이터를 인벤토리와 연동할 수 있나요?</h3>
              <p>엑셀 업로드, API 연동 방식 등 여러 연계 시나리오를 안내합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">산화제·가연물 분리 보관 기준</h3>
              <p>법적 기준과 실제 보관 시 주의해야 할 사항을 정리해 드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">CAS 번호 자동 검색 기능</h3>
              <p>물질명으로 검색하는 알고리즘과 데이터베이스 구축 방법을 설명합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">PSM 보고서는 어떻게 작성해야 하나요?</h3>
              <p>필수 포함 항목과 양식, 자주 발생하는 오류 사례를 함께 알려드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type">
              <span class="ico ico-report"></span>
              <h3 class="faq-card-title">MSDS 데이터를 인벤토리와 연동할 수 있나요?</h3>
              <p>엑셀 업로드, API 연동 방식 등 여러 연계 시나리오를 안내합니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">산화제·가연물 분리 보관 기준</h3>
              <p>법적 기준과 실제 보관 시 주의해야 할 사항을 정리해 드립니다.</p>
            </a>
            <a href="" class="faq-card faq-card-type2">
              <span class="ico ico-question"></span>
              <h3 class="faq-card-title">CAS 번호 자동 검색 기능</h3>
              <p>물질명으로 검색하는 알고리즘과 데이터베이스 구축 방법을 설명합니다.</p>
            </a>-->
          </div>
        </section>
      </div>
    </main>
  </div>

  <!-- 수정 Modal -->
  <div class="modal fade modal-confirm" id="confirmEditModal" tabindex="-1" aria-labelledby="confirmEditTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="btn-close modal-x" data-bs-dismiss="modal" aria-label="닫기"></button>

        <div class="modal-body text-center">
          <div class="text-body">
            <textarea rows="5" id="confirmEditModalText"></textarea>
          </div>

          <div class="modal-actions">
            <button type="button" class="btn btn-light btn-cancel" data-bs-dismiss="modal">취소</button>
            <button type="button" class="btn btn-secondary btn-delete" id="btnConfirmEdit">변경</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 삭제 Modal -->
  <div class="modal fade modal-confirm" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="btn-close modal-x" data-bs-dismiss="modal" aria-label="닫기"></button>

        <div class="modal-body text-center">
          <div class="modal-ico" aria-hidden="true">
            <img th:src="@{/images/icon/ico-delete.svg}">
          </div>

          <h2 class="modal-title">정말 삭제하시겠습니까?</h2>

          <div class="modal-actions">
            <button type="button" class="btn btn-light btn-cancel" data-bs-dismiss="modal">취소</button>
            <button type="button" class="btn btn-secondary btn-delete" id="btnConfirmDelete">삭제</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>

<style>
  .answer table, th, td{
      border : 1px solid white;
      border-collapse: collapse;
      margin : 3px !important;
  }
  .answer th, td {
      padding: 6px 4px !important;
  }
  a {
      text-decoration: none !important;
  }
</style>